*{
  color: rgb(44, 17, 70);
}

body {
  background-image: url("../img/tree.jpg");


}
#intro
{
font-family: Arial, Helvetica, sans-serif
}
 
 h1 {
font-family: 'Shadows Into Light', cursive;
text-align: center;
font-size: 300px;
 }

 p {
   font-size: 150px;
 }
